.page-title {
  text-align: center;
  color: #555;
  margin: 30px 0;
  font-size: 28px;
}

.product-list {
  margin-bottom: 20px;
}

.product-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.product-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.product-description {
  margin: 5px 0;
  color: #555;
}

.product-price {
  margin: 0;
  color: #4CAF50;
}

.product-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-input {
  margin-right: 10px;
}

.product-actions button.updateBtn,
.product-actions button.deleteBtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.product-actions button.updateBtn {
  background-color: #ffc107;
  color: #fff;
}

.product-actions button.deleteBtn {
  background-color: #dc3545;
  color: #fff;
}

.product-actions button.deleteBtn span {
  font-weight: bold;
}

.product-actions input[type="number"] {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.total-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.subtotal {
  font-size: 18px;
  color: #777;
  margin-bottom: 5px;
}

.total {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

.checkout-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkout-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.checkout-button:hover {
  background-color: #45a049;
}

/* ... (código CSS para diseño responsive, si lo deseas) */
