.navbar {
    background-color: #8a56ac;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-center {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #fbb6e3;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .cart-link {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .cart-badge {
    width: 8px;
    height: 18px;
    background-color: #fbb6e3;
    color: #fff;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 14px;
    position: absolute;
    top: -10px;
    right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar-toggle-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .navbar-toggle-icon:before,
  .navbar-toggle-icon:after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform 0.3s ease;
  }
  
  .navbar-toggle-icon:before {
    top: -6px;
  }
  
  .navbar-toggle-icon:after {
    top: 6px;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px;
    }
  
    .navbar-container {
      width: 100%;
    }
  
    .navbar-logo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navbar-center {
      display: none;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .navbar-nav {
      flex-direction: column;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .navbar-right {
      width: 100%;
      justify-content: flex-start;
    }
  
    .cart-link {
      margin-left: 10px;
      margin-right: 0;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-toggle.active .navbar-toggle-icon {
      background-color: transparent;
    }
  
    .navbar-toggle.active .navbar-toggle-icon:before {
      transform: rotate(45deg);
      top: 0;
    }
  
    .navbar-toggle.active .navbar-toggle-icon:after {
      transform: rotate(-45deg);
      top: 0;
    }
  
    .navbar-toggle.active ~ .navbar-center {
      display: block;
    }
  }
  