/* Estilos generales */

body {
  margin: 0;
  font-family: 'Popins', sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #8a56ac;
  font-size: 28px;
  margin-bottom: 30px;
}

/* Barra de búsqueda */

.search-container {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  width: 300px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

#search-input::placeholder {
  color: #888;
}

#search-button {
  padding: 10px 20px;
  background-color: #8a56ac;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #6f3c8e;
}

/* Lista de productos */

.row {
  justify-content: center;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(75% - 20px);
  justify-content: center;
  margin: 0 -10px;
  margin: auto;
}

.card {
  flex: 0 0 200px;
  height: 340px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  object-fit: contain;
  height: 200px;
  width: 100%;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333
}

.card-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #00aa00;
}

.card a {
  text-decoration: none;
  color: inherit;
}

/* Paginación */

.pagination {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: bottom;
  margin-bottom: 20px;
}

.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #ebebeb;
  text-decoration: none;
  color: #333;
}

.pagination a.active {
  background-color: #8a56ac;
  color: #fff;
}

/* Responsividad */

@media (max-width: 576px) {
  #search-input {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
}
