  <div class="container">
    <h1>Chat Box</h1>
    <div class="chat-container">
      <div id="messages"></div>
      <input type="text" placeholder="Type!" id="chatInput">
    </div>
  </div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

