<%- include("../partials/head") %>
<body>
  <%- include("../partials/navbar") %>
  <div class="container">
    <h1>Chat Box</h1>
    <div class="chat-container">
      <div id="messages"></div>
      <div id="userList"></div>
      <input type="text" placeholder="Type!" id="chatInput">
    </div>
  </div>  
  <%- include("../partials/footer") %>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
