<footer class="footer">
  <div>
    <p class="footer-text">Wine and Chill&copy; 2023.</p>
    <p class="footer-text">Contacto: manuelotamendi97@gmail.com</p>
  </div>
  <div>
    <a href="https://github.com/manuel-25" class="footer-link">
      <i class="fab fa-github footer-icon"></i>
      GitHub
    </a>
  </div>
</footer>
