<style>
  .footer {
    background-color: #8a56ac;
    color: #fff;
    padding: 20px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }

  .footer-link:hover {
    text-decoration: underline;
  }

  .footer-icon {
    color: #fff;
    font-size: 24px;
    margin-right: 5px;
  }

  .footer-text {
    margin-bottom: 10px;
  }
</style>

<footer class="footer">
  <div>
    <p class="footer-text">Wine and Chill&copy; 2023.</p>
    <p class="footer-text">Contacto: manueltamendi97@gmail.com</p>
  </div>
  <div>
    <a href="https://github.com/manuel-25" class="footer-link">
      <i class="fab fa-github footer-icon"></i>
      GitHub
    </a>
  </div>
</footer>
