<nav class="navbar">
  <div class="top-bar">
    <div class="logo-container">
      <a class="logo" href="/">Wine and Chill</a>
    </div>
    <div class="navbar-right">
      <% if (locals.user) { %>
        <a class="nav-link" href="/api/auth/signout">Logout</a>
        <a class="nav-link" href="/profile"><i class="fas fa-user"></i></a>
      <% } else { %>
        <a class="nav-link" href="/login">Sign In</a>
      <% } %>
      <a class="nav-link cart-link" href="/cart">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-badge" id="cartBadge">0</span>
      </a>
      <label for="btn" class="icon">
        <span class="fa fa-bars"></span>
      </label>
      <input type="checkbox" id="btn">
    </div>
  </div>
  <ul class="navbar-links">
    <li class="nav-item">
      <a class="nav-link" href="/products">Products+</a>
      <input type="checkbox" id="btn1">
      <ul>
        <li class="nav-item"><a class="nav-link" href="/products">Vino Tinto</a></li>
        <li class="nav-item"><a class="nav-link" href="/products">Vino Blanco</a></li>
        <li class="nav-item"><a class="nav-link" href="/products">Vino Rosa</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" href="/products">Sale</a></li>
    <li class="nav-item"><a class="nav-link" href="/chat">Chat</a></li>
    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
  </ul>
</nav>


<script type="module" src="/public/scripts/cartCounter.js" defer></script>
<script type="module" src="/public/scripts/navbar.js" defer></script>
