<%- include("../partials/head") %>
<body>
  <%- include("../partials/navbar") %>
  <div class="container">
    <h3>Recuperar Contrase침a</h3>
    <form id="forgotPasswordForm" action="/api/auth/forgot-password" method="POST" class="user-form">
      <div class="form-group">
        <label for="email">Correo electr칩nico:</label>
        <input type="email" id="email" name="email" placeholder="Correo electr칩nico">
      </div>
      <div class="form-group">
        <input class="form-button" id="submit" type="submit" value="Enviar Instrucciones">
      </div>
    </form>
    <div class="back-to-login">
      <a href="/login">Volver a Iniciar Sesi칩n</a>
    </div>
  </div>
  <%- include("../partials/footer") %>
</body>
</html>