<%- include("../partials/head") %>
<body>
  <%- include("../partials/navbar") %>
  <div class="container">
    <h3>Reestablecer Contraseña</h3>
    <form id="resetPasswordForm" action="/api/auth/reset-password" method="POST" class="user-form">
      <div id="user-email" data-email="<%= email %>"></div>
      <div class="form-group">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Nueva Contraseña">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar Nueva Contraseña">
      </div>
      <div class="form-group">
        <input class="form-button" id="submit" type="submit" value="Reestablecer Contraseña">
      </div>
    </form>
    <div class="back-to-login">
      <a href="/login">Volver a Iniciar Sesión</a>
    </div>
  </div>
  <%- include("../partials/footer") %>
</body>
</html>
